html, body, div, ul, li, a, img {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	html, body {
		width: 100%;
		font-size: 100%;
		/*background-color: #ccc;*/
	}
	img {
		display: block;
	}
body{
	padding-top: 50px;
}
ul{
	list-style: none;
}
h1{
	text-align: center;
}
p {
		margin: 0;
		padding: 1rem 1rem;
		font-size: 1rem;
		line-height: 1.4;
	}
	h3{
		font-weight: bold;
	}
	/*媒体查询*/
	@media screen and(max-width: 400px) {
		
	}
	.pagination {
		width: 100%;
		left: 0;
		bottom: 10px;
		position: absolute;
		text-align: center;
		-webkit-transition: 300ms;
		transition: 300ms;
		z-index: 10;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.pagination span {
		width: 8px;
		height: 8px;
		display: inline-block;
		border-radius: 100%;
		background: #fff;
		opacity: .5;
		margin: 0 3px;
	}
	.pagination span.active {
		opacity: 1;
		background: #007AFF;
	}
	.pic-panel {
		width: 100%;
		position: relative;
		overflow: hidden;
	}
	.pic-list {
		width: 100%;
		position: relative;
	}
	.pic-list li {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
	.pic-list .re {
		position: relative;
		z-index: 2;
	}
	.pic-list li img {
		width: 100%;
	}
	.pic-list li a {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	@media screen and (min-width: 600px) {
		.pic-box {
			position: relative;
			top: 0;
			left: 25%;
			width: 50%;
		}
		.pic-list li:nth-child(2) {
			left: 100%;
		}
		.pic-list li:last-child {
			left: -100%;
		}
		.pic-list li img {
			padding: 0 0.125rem;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
	}
	.wyh{
		color: #666;
		margin-left: 80px;
	}
	.wyhp{
		border-bottom: 1px #dcdcdc solid
	}
	.box{
		height: 200px;
		overflow: hidden;
		margin: 40px 0;
	}
	.xinwen h3{
		color: #999;
	}
	.liuren{
		width: 1600px;
		height: 200px;
	}
	.liuren li{
		float: left;
	}
	.liuren img{
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}
	.xinwen{
		background: #289df1;
		margin:60px 0 0 0;
		color: #f6f6f6;
		height: 70px;
		line-height: 70px
	}
	.list-group span{
		color: orange;
		margin-left: 200px
	}
	.fanhui{
		width: 40px;
		height: 40px;
		background-image: url(../img/fanhui1.png);
		background-repeat: no-repeat;
		background-size: 40px 40px;
		background-position: center;
		position: fixed;
		right: 5px;
		bottom: 20px;
		display: none;
	}
	footer{
		background: rgba(0,0,0,.7);
		margin-top: 40px;
	}
	footer p{
		line-height: 0;
		text-align: center;
		color: #fff;
	}