*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.header{
	height: 50px;
	background: orange;
}
.header .logo{
	width: 100%;
	height: 50px;
	background-image:url(../images/logo.png);
	background-repeat: no-repeat;
    background-size: 27px 20px;
    background-position: 9px center;
    float: left;
}
.a{
	display: block;
	height: 30px;
	margin: 10px 10px 10px 50px;
}
.a input{
	outline: none;
	border: none;
	width: 100%;
    border-radius: 4px;
    padding-top: 10px;
    background-color: #FF4E22;
    color: #fff;
}